<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="CSS/profile.css">

</head>

<body>
    <header class="header">
        <nav class="h-nav">
            <div class="h-logo">
                <h2>LabAssist</h2>
            </div>
            <div class="nav-menu">
                <ul class="h-nav-list">
                    <li class="h-nav-item"><a class="h-nav-link" href="./home.html">Home</a></li>
                    <li class="h-nav-item"><a class="h-nav-link" href="./profile.html">Profile</a></li>
                    <li class="h-nav-item"><button class="h-nav-link" id="logout-btn">Log out<i
                                class="fa fa-sign-out logout-icon" style="font-size:30px;"></i></button></li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Side nav -->
    <section>
        <div class="side-nav grid-item-1" id="side-nav">
            <button class="side-close-btn" id="sidenav-close-btn"><i class="fa fa-close"></i></button>
            <div class="profile">
                <img id="pro-pic" src="images/propic1.png" alt="">
                <div class="name" id="name">Nomanur Rahman Noman</div>
                <div class="role" id="user-type">
                    <p>Student</p>
                </div>
            </div>
            <div class="side-nav-url">
                <div class="url">
                    <ul>
                        <li><button id="item-btn"><a href="./product.html" id="item-list">Item List</a></button></li>
                        <li><button id="request-btn"><a href="" id="req-list">Request</a></button></li>
                        <li><button id="inventory-btn"><a href="" id="db-edit">Inventory</a></button></li>
                        <li><button id="searching-btn"><a href="" id="std-search">Searcing</a></button></li>
                    </ul>
                </div>
            </div>
        </div>
        <section class="edit-profile-section animate" id="edit-profile-section">

            <button class="profile-close-btn" id="profile-close-btn"><i class="fa fa-close close"></i></button>
            <div class="edit-profile-modal">
                <form action="">
                    <h3>Edit Profile</h3>
                    <label for="name">Name</label>
                    <input type="text" name="name" placeholder="Your name" id="name">

                    <label for="uname">Username</label>
                    <input type="text" name="uname" placeholder="User name" id="uname">

                    <label for="uid">User ID</label>
                    <input type="text" name="uid" placeholder="University ID" id="uid">

                    <label for="session">Session</label>
                    <input type="text" name="session" placeholder="Your session" id="session">

                    <label for="dept">Department</label>
                    <input type="text" name="dept" placeholder="Your department" id="dept">

                    <label for="phone-no">Phone no</label>
                    <input type="tel" name="phone-no" placeholder="Your phone no" id="phone-no">

                    <label for="email">Email</label>
                    <input type="email" name="email" placeholder="Your email address" id="email">

                    <label for="">Upload Profile Photo</label>
                    <input type="file" name="profile-image" id="profile-image" accept="image/*">
                </form>
                <button type="submit" class="submit-btn" id="submit-btn">Submit</button>
            </div>
        </section>
        <div class="info-section grid-item-2">
            <button class="side-toggle-btn" id="sidenav-toggle-btn"><i class="fa fa-bars"></i></button>
            <h2>User's info:</h2>
            <div class="card">
                <div class="card-body">
                    <button id="edit-icon"><i class="fa fa-pencil edit"></i></button>
                </div>
                <table>
                    <tbody>
                        <tr>
                            <td class="tags">Name</td>
                            <td>:</td>
                            <td id="td-name">Nomanur Rahman Noman</td>
                        </tr>
                        <tr>
                            <td class="tags">User Type</td>
                            <td>:</td>
                            <td id="td-usertype">Student</td>
                        </tr>
                        <tr>
                            <td class="tags">Username</td>
                            <td>:</td>
                            <td id="td-username">noman2001011</td>
                        </tr>
                        <tr>
                            <td class="tags">ID</td>
                            <td>:</td>
                            <td id="td-uid">2001011</td>
                        </tr>
                        <tr>
                            <td class="tags">Department</td>
                            <td>:</td>
                            <td id="td-dept">IRE</td>
                        </tr>
                        <tr>
                            <td class="tags">Session</td>
                            <td>:</td>
                            <td id="td-session">2020-21</td>
                        </tr>
                        <tr>
                            <td class="tags">Phone no</td>
                            <td>:</td>
                            <td id="td-phn">01641578822</td>
                        </tr>
                        <tr>
                            <td class="tags">Email</td>
                            <td>:</td>
                            <td id="td-email">2001011@iot.bdu.ac.bd</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <script src="JS/profile.js"></script>
</body>

</html>