@import url(https://fonts.google.com/share?selection.family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900);

* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  overflow-x: hidden;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  height: 4.5rem;
  padding: 0 1.7rem;
  background-color: #161c2d;
}

.header h2 {
  font-size: 25px;
  color: rgb(94, 187, 252);
}

.h-nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.h-nav-list {
  display: flex;
  align-items: center;
  gap: 10px;
}
.h-nav-link {
  text-transform: uppercase;
  color: #79ffff;
}
.h-nav-item{
  padding: 10px;
}
.h-nav-link:hover {
  /* color:white; */
  color: #ffffff;
  transition: 0.5s ease-in;
}
/* 
.h-nav-link:focus {
  color: rgb(0, 0, 0);
  background-color: rgb(0, 255, 247);
} */
.home-link{
  padding: 5px;
  display:flex;
  align-items: center;
}
.home-icon{
  margin-left:5px;
  margin-bottom: 5px;
  display:none;
}
.home-link:hover{
  .home-icon{
    display:inline-block;
  }
}
#logout-btn {
  padding: 5px;
  display: flex;
  align-items: center;
  background-image: linear-gradient(144deg, #003193, #0098f0 50%, #009780);
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 15px;
  white-space: nowrap;
}
.logout-icon {
  margin-left: 5px;
  display:none;
}

#logout-btn:hover {
  background-image: linear-gradient(144deg, #fc02ca, #ff006f 50%, #8400ff);
  .logout-icon{
    display:inline-block;
  }
}



.column {
  float: left;
  padding: 10px;
  margin-top:20px;
  margin-bottom: 20px;
}

/* Left and right column */
.column.left{
  width: 20%;
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  align-items: center;
  padding-bottom: 525px;
}
.column.left h2{
  font-size: 25px;
  color: white;
  text-align: center;
}
.column.left p{
  font-size:20px;
  color:#fbff00;
  margin-top: 20px;
}
.column.left label{
  color: #fff;
  font-size: 20px;
  cursor:pointer;
}
.column.left label:hover{
  font-weight: 700;
  outline: #161c2d;
  color:#00ffee;
  
}
.column.right {
  width: 30%;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

/* Middle column */
.column.middle {
  width: 50%;
  border: 1px solid red;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width:1023px){
  .column.left{
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {

  .column.left{
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
  }
  .column.right {
    width: 30%;
  }
  
  .column.middle {
    width: 70%;
    clear: both; /* Clear the float so that the middle column moves below the left and right columns */
    margin-top: 20px; /* Add some spacing between the middle column and the columns above */
  }

  .column.right {
    float: left; /* Float the right column to the left */
    clear: none; /* Clear the float for the right column */
    margin-top: 20px; /* Remove any top margin */
  }
}



/* Adjustments for screen sizes below 768px */


/*Fixing the middle grid*/
.middle {
  background: linear-gradient(45deg, #f093fb, #f5576c);
  padding: 10px;
}

.middle .container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, minmax(0, 1fr));

}

@media screen and (max-width: 767px) and (min-width: 600px) {
  .column.left{
    display:flex;
    justify-content: center;
  }
  .column.left,
  .column.right,
  .column.middle {
    width: 100%; /* Make all columns occupy the full width */
    clear: both; /* Clear the float to stack them vertically */
    margin-top: 20px; /* Add spacing between each column */
  }

  /* Adjust the grid layout of the middle column */
  .middle .container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media screen and (max-width: 600px){
  .column.left{
    display:flex;
    justify-content: center;
  }
  .header h2{
    font-size: 20px;
  }
  .header li{
    font-size: 15px;
  }
  .column.left,
  .column.right,
  .column.middle {
    width: 100%; /* Make all columns occupy the full width */
    clear: both; /* Clear the float to stack them vertically */
    margin-top: 20px; /* Add spacing between each column */
  }

  /* Adjust the grid layout of the middle column */
  .middle .container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.middle .container .box {
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
  padding: 10px;
}
.middle .container .box:hover{
  background-color: #ecfeff;
  box-shadow: 0 10px 15px 0px rgb(0, 0, 0, 0.5);
  transform:scale(1.02);
  transition: transform 0.2s ease-out;

}


.middle .container .box img {
  height: 100px;
  width: 100px;
  object-fit: contain;
}

.middle .container .box .name-quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.middle .container .box .name-quantity h3 {
  font-size: 14px;
}

.middle .container .box .name-quantity h4 {
  font-size: 13px;
  padding: 2px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
}

.middle .container .box .quantity-spinner {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;

}

.middle .container .box .quantity-spinner input {
  width: 50px;
  text-align: center;
  border: 1px solid black;
  padding:3.5px;
  font-weight: 600;
  text-align: center;
}

.middle .container .box .quantity-spinner button {
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor:pointer;

}
.middle .container .box .quantity-spinner button:hover{
  background:#930058;
}
.middle .container .box .add-item-btn{
  margin-top:10px;
  display:inline-block;
  background: linear-gradient(45deg, rgb(17, 0, 202),rgb(0, 100, 97));
  color: #fff;
  font-size: 15px;
  border-radius: 5px;
  padding: 8px;
  cursor:pointer;
}
.middle .container .box .add-item-btn:hover{
  letter-spacing: 1px;
  background: linear-gradient(rgb(119, 0, 146), rgb(200, 0, 120));
  }

  footer{
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 20px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}
.contact{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 10px;
}
.footer-bottom{
  background: #000;
  width: auto;
  padding: 20px;
  text-align: center;
}
.footer-bottom p a{
  color:#44bae8;
  font-size: 16px;
  text-decoration: none;
}